<tr>
  <td class="licence-plate">
    <input type="hidden" class="result-id" value="<%= result.id %>">
    <%= result.plate %>
  </td>
  <td class="controlled-at"><%= result.created_at.strftime('%d.%m.%y %H:%M:%S') %></td>
  <% if result.save_image? %>
      <td><%= image_tag result.image.url, width: 160, height: 90 %></td>
  <% end %>
</tr>