<h2>Parkimisõigus puudub (<span id="neg-result-count"><%= @results.where(allowed_to_park: false).size %></span>)</h2>
<table id="negative-result" class="table striped">
  <thead>
  <tr>
    <th>Numbimärk</th>
    <th>Kontrollitud</th>
    <th>Pilt</th>
  </tr>
  </thead>
  <tbody>
  <% @results.where(allowed_to_park: false).each do |res| %>
    <%= render 'license_plates/lpr_result_row', result: res %>
  <% end %>
  </tbody>
</table>