<h2>Kehtiva parkimisõigusega (<span id="pos-result-count"><%= @results.where(allowed_to_park: true).size %></span>)</h2>
<table id="positive-result" class="table striped">
  <thead>
  <tr>
    <th>Numbrimärk</th>
    <th>Kontrollitud</th>
  </tr>
  </thead>
  <tbody>
  <% @results.where(allowed_to_park: true).each do |res| %>
      <%= render 'license_plates/lpr_result_row', result: res %>
  <% end %>
  </tbody>
</table>