<script>
    <% unless params[:car_nr].blank? %>
    var dispatcher = new WebSocketRails('<%= websocket_url.split('//')[1]%>');

    // subscribe to the channel
    var channel = dispatcher.subscribe('control_car_results');

    // bind to a channel event
    channel.bind('<%= params[:car_nr].upcase %>', function (data) {
        if (data.allowed_to_park) {
            addNewRowToTable('#positive-result', data.html);
            $('#pos-result-count').html($('#positive-result tbody tr').size());
        } else {
            addNewRowToTable('#negative-result', data.html);
            $('#neg-result-count').html($('#negative-result tbody tr').size());
        }
    });
    <% end %>


    function addNewRowToTable(tableSelector, rowHtml) {
        var newRowPlace = $(tableSelector + ' tbody tr:first');
        if (newRowPlace.length > 0) {
            newRowPlace.before(rowHtml);
        } else {
            $(tableSelector + ' tbody').append(rowHtml)
        }
    }
</script>