<%= render 'server_polling' %>
<form class="form-inline" method="get">
  <div class="form-group">
    <label for="car_nr">Auto number</label>
    <input type="text" class="form-control" name="car_nr" id="car_nr" value="<%= params[:car_nr] %>">
  </div>
  <button type="submit" class="btn btn-default">Sisesta</button>
</form>
<% unless params[:car_nr].blank? %>
    <div class="row">
      <div class="col-sm-4"><%= render 'negative_results_table' %></div>
      <div class="col-sm-4"><%= render 'positive_results_table' %></div>
    </div>
    <p>
      <%= link_to 'Eemalda tulemused', delete_all_results_license_plates_path(car_nr: params[:car_nr]), method: :delete %>
    </p>
<% end %>


