.licence-plate {
    font-size: 30px;
    text-align: center;
}

#negative-result tbody {
    background-color: lightpink;
}

#positive-result tbody {
    background-color: lightgreen;
}

.controlled-at {
    font-size: 20px;
}