<%# flash types are: info, success, warning, danger %>

<% message_map = {}
   flash.each do |name, msg|
     key = name
     if name == :notice
       key = :info
     end
     if message_map.key?(key)
       message_map[key].push(msg)
     else
       if msg.is_a?(String)
         message_map[key] = [msg]
       elsif msg.is_a?(Array)
         message_map[key] = msg
       end
     end

   end %>

<% message_map.each_key do |key| %>
    <% if message_map[key].size == 0 %>
        <% next %>
    <% end %>
    <div class="form_validation_errors row">
      <div class="col-sm-8 alert alert-<%= key %> alert-dismissable">
            <button key="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <% message_map[key].each do |message| %>
            <div><%= message %></div>
        <% end %>
      </div>
    </div>
<% end %>



