<!DOCTYPE html>
<html>
<head>
  <title>ParkcheckLpr</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="container-fluid">

  <div class="page_content">

    <div class="page_heading">
      <h2><%= yield(:title) %></h2>
    </div>

    <div id="messages-container">
      <%= render 'layouts/messages' %>
    </div>

    <div class="content_block">
      <%= yield %>
    </div>
    <!-- #content_block -->
  </div>
  <!-- /page_content -->

</div>
<!-- /container -->
</body>
</html>
